div{
    width: 200px;
    height: 200px;
    color: brown;
    font-size: 20px;
    border: 1px solid brown;
}

.div1{
    overflow: hidden;
}
.div2{
    overflow: visible;
}

.div3{
    overflow: scroll;
}

.div4{
    overflow: auto;
}

.div5{
    overflow: scroll;
    background-color: yellow;
}

.div6{
    overflow: auto;
    background-color: yellow;
}




/* overflow */

/* overflow: hidden
auto
scroll

overflow-x
overflow-y */